{% extends 'forms/main_template.html' %}
{% block title %}Curado{% endblock %}
{% block content %}
    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Marco para Chutes:</legend>
        <input type="radio" name="r11" id="r11a" value="c"  checked="checked">
        <label for="r11a">C</label>
        <input type="radio" name="Marco para Chutes" id="r11b" value="na">
        <label for="r11b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Tubería metálica / Tubería PVC:</legend>
        <input type="radio" name="r12" id="r12a" value="c"  checked="checked">
        <label for="r12a">C</label>
        <input type="radio" name="Tubería metálica / Tubería PVC" id="r12b" value="na">
        <label for="r12b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Otros embebidos:</legend>
        <input type="radio" name="r13" id="r13a" value="c"  checked="checked">
        <label for="r13a">C</label>
        <input type="radio" name="Otros embebidos" id="r13b" value="na">
        <label for="r13b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Diámetro y/o Dimensiones (longitud y espesor):</legend>
        <input type="radio" name="r14" id="r14a" value="c"  checked="checked">
        <label for="r14a">C</label>
        <input type="radio" name="Diámetro y/o Dimensiones (longitud y espesor)" id="r14b" value="na">
        <label for="r14b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Soldadura (en Taller o en Obra):</legend>
        <input type="radio" name="r15" id="r15a" value="c"  checked="checked">
        <label for="r15a">C</label>
        <input type="radio" name="Soldadura (en Taller o en Obra)" id="r15b" value="na">
        <label for="r15b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Certificados de calidad del material:</legend>
        <input type="radio" name="r16" id="r16a" value="c"  checked="checked">
        <label for="r16a">C</label>
        <input type="radio" name="Certificados de calidad del material" id="r16b" value="na">
        <label for="r16b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Diámetro, Longitud Total de Perno, Longitud de hilo:</legend>
        <input type="radio" name="r21" id="r21a" value="c"  checked="checked">
        <label for="r21a">C</label>
        <input type="radio" name="Diámetro, Longitud Total de Perno, Longitud de hilo" id="r21b" value="na">
        <label for="r21b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Dimensiones de Planchas, Longitud de Anclajes :</legend>
        <input type="radio" name="r22" id="r22a" value="c"  checked="checked">
        <label for="r22a">C</label>
        <input type="radio" name="Dimensiones de Planchas, Longitud de Anclajes " id="r22b" value="na">
        <label for="r22b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Tuercas y Arandelas:</legend>
        <input type="radio" name="r23" id="r23a" value="c"  checked="checked">
        <label for="r23a">C</label>
        <input type="radio" name="Tuercas y Arandelas" id="r23b" value="na">
        <label for="r23b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Placas de anclaje:</legend>
        <input type="radio" name="r24" id="r24a" value="c"  checked="checked">
        <label for="r24a">C</label>
        <input type="radio" name="Placas de anclaje" id="r24b" value="na">
        <label for="r24b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Mangas:</legend>
        <input type="radio" name="r25" id="r25a" value="c"  checked="checked">
        <label for="r25a">C</label>
        <input type="radio" name="Mangas" id="r25b" value="na">
        <label for="r25b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Acabado (Galvanizado, en negro o inoxidable):</legend>
        <input type="radio" name="r26" id="r26a" value="c"  checked="checked">
        <label for="r26a">C</label>
        <input type="radio" name="Acabado (Galvanizado, en negro o inoxidable)" id="r26b" value="na">
        <label for="r26b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Soldadura (En Taller o en Obra):</legend>
        <input type="radio" name="r27" id="r27a" value="c"  checked="checked">
        <label for="r27a">C</label>
        <input type="radio" name="Soldadura (En Taller o en Obra)" id="r27b" value="na">
        <label for="r27b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Certificados de calidad del material:</legend>
        <input type="radio" name="r28" id="r28a" value="c"  checked="checked">
        <label for="r28a">C</label>
        <input type="radio" name="Certificados de calidad del material" id="r28b" value="na">
        <label for="r28b">NA</label>
    </fieldset> 

{% endblock %}