{% extends 'forms/main_template.html' %}
{% block title %}Curado{% endblock %}
{% block content %}
    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Certificados de calidad:</legend>
        <input type="radio" name="r1" id="r1a" value="c"  checked="checked">
        <label for="r1a">C</label>
        <input type="radio" name="Certificados de calidad" id="r1b" value="na">
        <label for="r1b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Almacenamiento Adecuado (seco, limpio):</legend>
        <input type="radio" name="r2" id="r2a" value="c"  checked="checked">
        <label for="r2a">C</label>
        <input type="radio" name="Almacenamiento Adecuado (seco, limpio)" id="r2b" value="na">
        <label for="r2b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Tarjeta de identificación , (Elemento, N° piezas):</legend>
        <input type="radio" name="r3" id="r3a" value="c"  checked="checked">
        <label for="r3a">C</label>
        <input type="radio" name="Tarjeta de identificación , (Elemento, N° piezas)" id="r3b" value="na">
        <label for="r3b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Libre de lodo, aceite, oxido:</legend>
        <input type="radio" name="r4" id="r4a" value="c"  checked="checked">
        <label for="r4a">C</label>
        <input type="radio" name="Libre de lodo, aceite, oxido" id="r4b" value="na">
        <label for="r4b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Diámetros y dimensiones conformes a planos:</legend>
        <input type="radio" name="r5" id="r5a" value="c"  checked="checked">
        <label for="r5a">C</label>
        <input type="radio" name="Diámetros y dimensiones conformes a planos" id="r5b" value="na">
        <label for="r5b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Cantidad de elementos conformes:</legend>
        <input type="radio" name="r6" id="r6a" value="c"  checked="checked">
        <label for="r6a">C</label>
        <input type="radio" name="Cantidad de elementos conformes" id="r6b" value="na">
        <label for="r6b">NA</label>
    </fieldset> 

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Soldadura:</legend>
        <input type="radio" name="r7" id="r7a" value="c"  checked="checked">
        <label for="r7a">C</label>
        <input type="radio" name="Soldadura" id="r7b" value="na">
        <label for="r7b">NA</label>
    </fieldset> 
{% endblock %}