<!DOCTYPE html>
<html>
<head>
      <title>{% block title %}{% endblock %}</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      {% block codescript %}{% endblock %}
</head>
<style type='text/css'>
.active
{
    background-color: #4dcdff;
}
</style>
<body>
{% block content %}{% endblock %}
</body>
</html>
